<!DOCTYPE html>
<html class="ld-Frame">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="turbolinks-cache-control" content="no-cache">
    <base href="<%- config.publicPath %>"/>
    <script src="<%- config.publicPath %>theme.js" defer data-turbolinks-eval="false"></script>
    <title><%- config.title %></title>
  </head>
  <body class="ld-Frame-body">
    <header data-chrome="top" class="ld-Frame-header">
      <%- include('partials/navbar', { config }); %>
    </header>
    <aside data-chrome="left" class="ld-Frame-sidebar">
      <%- include('partials/navigation', { ...navigation, config, current, level: 0 }); %>
    </aside>
    <main>
      <div class="ld-Container markdown-body">
        <%- content %>
      </div>
    </main>
  </body>
</html>
