<!DOCTYPE html>
<html class="ld-Frame">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="turbolinks-cache-control" content="no-cache">
    <base href="<%- config.publicPath %>"/>
    <script src="/theme.js" defer data-turbolinks-eval="false"></script>
    <title><%- config.title %></title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css"/>-->
    <!--<style>
    	.markdown-body {
    		box-sizing: border-box;
    		min-width: 200px;
    		max-width: 980px;
    		margin: 0 auto;
    		padding: 45px;
    	}

    	@media (max-width: 767px) {
    		.markdown-body {
    			padding: 15px;
    		}
    	}
    </style>-->
    <style>
      @import url('https://fonts.googleapis.com/css?family=PT+Sans');
    </style>
  </head>
  <body class="ld-Frame-body">
    <header data-chrome="top" class="ld-Frame-header">
      <%- include('partials/navbar', { config }); %>
    </header>
    <aside data-chrome="left" class="ld-Frame-sidebar">
      <%- include('partials/navigation', { ...navigation, config, current, level: 0 }); %>
    </aside>
    <main>
      <div class="ld-Container">
        <div class="markdown-body">
          <%- content %>
        </div>
      </div>
    </main>
  </body>
</html>
