<!-- @example -->

<section class="ld-example">
  <div class="ld-frame Frame">
    <%- source %>
    <!--
    <% blocks.forEach(function(block){ %>
      <%- block.embed %>
    <% }) %>
  -->
  </div>
  <!--<iframe class="frame" width="100%" frameborder="0" src="<%= url %>"> </iframe>-->
  <% blocks.forEach(function(block){ %>
  <pre>
    <code data-lang="<%= block.lang %>" class="code <%= block.lang %>"><%- block.code %></code>
  </pre>
  <% }) %>
</section>
