<% if (items.length) { %>
<nav class="ld-Menu ld-Menu-level-<%= level %>">
  <% items.forEach((item, index) => { %>
    <input type="checkbox" name="<%= id %>"/>
    <div
      class="ld-Menu-item<%= item.active ? ' is-active' : '' %><%= item.items.length ? ' ld-Dropdown' : '' %>"
      data-target="<%= item.id %>"
    >
      <% if (item.items.length) { %>
        <input
          class="ld-Dropdown-toggle"
          type="checkbox"
          id="<%= item.id %>"
          <%= item.active ? 'checked' : '' %>
        >
        <label class="ld-Dropdown-label" for="<%= item.id %>">
      <% } %>
        <a class="ld-Menu-link<%= item.active ? ' is-active' : '' %>"<% if (item.path) { %> href="<%= item.path %>"<% } %>>
          <%= item.label %>
          <% if (item.items.length) { %>
            <i class="ld-Dropdown-chevron Icon--chevron"></i>
          <% } %>
        </a>
      <% if (item.items.length) { %>
        </label>
        <div class="ld-Dropdown-content">
          <%- include('menu', { items: item.items, level: level + 1 }); %>
        </div>
      <% } %>
    </div>
  <% }) %>
</nav>
<% } %>
