<% if (items.length) { %>
<nav class="ld-Menu ld-Menu-level-<%= level %>">
  <% items.forEach((item, index) => { %>
    <div class="ld-Menu-item<%= item.items.length ? ' ld-Dropdown' : '' %>">
      <% if (item.items.length) { %>
        <input class="ld-Dropdown-toggle" type="checkbox" id="cb-<%= `${level}-${index}` %>">
        <label class="ld-Dropdown-label" for="cb-<%= `${level}-${index}` %>">
      <% } %>
        <a class="ld-Menu-link"<% if (item.url) { %> href="<%= item.url %>"<% } %>>
          <%= item.label %>
          <% if (item.items.length) { %>
            <i class="ld-Dropdown-chevron Icon--chevron"></i>
          <% } %>
        </a>
      <% if (item.items.length) { %>
        </label>
        <div class="ld-Dropdown-content">
          <%- include('menu', { items: item.items, level: level + 1 }); %>
        </div>
      <% } %>
    </div>
  <% }) %>
</nav>
<% } %>
