<% if (items.length) { %>
<nav class="ld-Accordion">
  <% items.forEach((item, index) => { %>
    <input
      data-ui
      type="radio"
      name="<%- id %>"
      id="<%- item.id %>"
      data-path="<%= item.path %>"
      <% if (item.url) { %>
        data-href="<%= item.url %>"
      <% } %>
      <%= item.active ? 'checked' : '' %>
    />
    <label
      data-ui
      for="<%- item.id %>"
      class="ld-Accordion-header<%= item.url && item.active ? ' is-active' : '' %>"
    >
      <<%- item.url ? 'span' : 'span' %>
        <% if (item.url) { %>
          href="<%= item.url %>"
        <% } %>
      >
        <%= item.label %>
        <% if (item.items.length) { %>
          <i class="ld-Accordion-chevron ld-Icon" data-icon="chevron"></i>
        <% } %>
      </<%- item.url ? 'span' : 'span' %>>
    </label>
    <div class="ld-Accordion-content" data-size="<%= item.items.length %>">
      <%- include('navigation', { ...item, level: level + 1 }); %>
    </div>
  <% }) %>
</nav>
<% } %>
